---
import BaseLayout from 'layouts:BaseLayout';
import CatalogLoader from 'lib:CatalogLoader';
---

<BaseLayout>
  <section>
    <CatalogLoader client:idle/>
  </section>
</BaseLayout>

<style global lang="scss">
  section {
    max-width: 1000px;
    margin: 0 auto;
  }
</style>
