---
import SubPageLayout from 'layouts:SubPageLayout';

const crumbs = [{name: 'Account', path: '/account'}];
---
<SubPageLayout crumbs={crumbs} title="Account">
  <h1>Hello user!</h1>
</SubPageLayout>