<header>
  <h2>Solid Store</h2>
</header>

<style lang="scss">
  header {
    height: 60px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-elevation-medium);
  }

  h2 {
    font-weight: 600;
    font-size: 1.2rem;
  }
</style>
