---
import ProductImage from 'lib:ProductImage';
import ProductDetails from 'lib:ProductDetails';
---

<article>
  <section><ProductImage client:idle /></section>
  <section><ProductDetails client:only /></section>
</article>

<style lang="scss">
  article {
    @media (min-width: 900px) {
      display: flex;
    }
  }

  section {
    @media (min-width: 900px) {
      flex: 1;
    }

    &:first-child {
      display: flex;
      background-color: var(--color-backdrop-light);
      height: 400px;
      border-radius: 6px;
      overflow: hidden;
      padding: 16px;
      align-items: center;
      justify-content: center;

      @media (min-width: 900px) {
        max-width: 600px;
        height: calc(100vh - 110px);
        position: sticky;
        top: 0;
        left: 0;
      }
    }

    &:last-child {
      @media (min-width: 900px) {
        padding: 16px;
      }

       @media (min-width: 1200px) {
         padding-left: 100px;
       }
    }
  }
</style>
