---
// import ProductInit from 'lib:ProductInit';
import ProductInfoLoader from 'lib:ProductInfo';
---

<div class="product-info">
  <section>
    <ProductInfoLoader client:idle/>
  </section>
</div>

<style lang="scss">
.product-info {
  flex: 1;
  padding: 0 24px;
}
</style>
